.testimoniales p{
  text-align: center;
  font: 400 3em/2.3rem  'Pinyon Script', cursive!important;
  padding: 0 7rem;
  margin-bottom: 0px;
}
.centarimagen{
  align-items: center;
  width: 100vh;
}
.icono{
  text-align: right;
}
.icono img{
  align-items: center;
  width: 14rem;
  justify-content: center;
  }
@media(min-width: 768px){
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer .blog{
        flex-basis: 20%;
    }
    .footer .testimoniales{
        flex-basis: calc(90% - 8rem);


    }
}
.flecha{
  text-align: center;
}
.footercond{

}
.footercond h2{
  font-family: 'Sorts Mill Goudy', serif;
  color: #a71117;
  font-weight: 500;
  margin: 0;
}
.footercond h2 span{
  color: #123B40;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}

.barra {
  padding-top: .3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
.footercoreo{
  text-align: center;
}
.footercoreo h3{
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 200;
  font-size: 1.2rem;
  color: blue;
  margin: 0;
}
.copi{
  text-align: center;
}
.copi h3{
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 200;
  font-size: 1rem;
  color: rgb(114, 114, 116);
}
.iconosF img{
  width: 5rem;
  padding: .4rem;
}
.direccion h2{
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 500;
  color: #123B40;

}
