<div class="footer">
  <section class="blog">
<div class="icono">
    <img src="../../assets/logocompleto.svg" alt="logo Geriavida">
  </div>
  </section>
  <section class="testimoniales">
    <div>
      <p>Comprometidos a Mejorar la Calidad de Vida
        De Nuestros Adultos Mayores
        </p>
    </div>
    <div class="flecha" >
      <img src="../../assets/Flecha.svg" alt="">
    </div>
    <div class="footercond barra">
      <h2>
        Informes y Cita Previa: <span>975347030</span>
      </h2>
      <h2>
        WhatsApp: <span>975347030</span>
      </h2>
    </div>
    <div class="footercoreo">
      <h3>residenciageriatrica@geriavida.pe</h3>
    </div>

  </section>
</div>

<div class=" barra">
  <div class="iconosF">
    <a href=""><img src="../../assets/Telefono 2.svg" alt=""></a>
    <a href=""><img src="../../assets/Whatsapp 1.svg" alt=""></a>
    <a href=""><img src="../../assets/Facebook 1.svg" alt=""></a>
    <a href=""><img src="../../assets/Twitter 1.svg" alt=""></a>
  </div>
  <div class="direccion">
    <h2>
      Jr. El Amargón N° 3982 – Urb. Las Palmeras - Los Olivos - Lima <br>
      ( Ref: Altura entre la Cdra. 10 y 11 de la Av. Carlos Izaguirre )
    </h2>
  </div>
</div>
<div class="copi">
  <h3>GERIAVIDA c 2022. Todos los Derechos Reservados | Diseño Exclusivo de GERIAVIDA</h3>
</div>
