<h1>GALERIA</h1>
<p>
  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable Englis 'Content here, content here', making it look like readable Englis 'Content here, content here', making it look like readable Englis.
</p>
<div class="imagen">
  <img src="../../assets/Flecha.svg" alt="">
</div>

<div class="container">
  <div class="contenedorGaleria">
    <div class="galeria">
      <img src="../../assets/img/1 GERIAVIDA.jpg" alt="">
    </div>
    <div class="galeria">
      <img src="../../assets/img/2- GERIAVIDA - 20220717_110803.jpg" alt="">
    </div>
    <div class="galeria">
      <img src="../../assets/img/3- GERIAVIDA.jpg" alt="">
    </div>
    <div class="galeria">
      <img src="../../assets/img/4- GERIAVIDA - 20220717_111526.jpg" alt="">
    </div>
  </div>

  <div class="popup-image">
    <span>&times;</span>
    <img src="../../assets/img/2- GERIAVIDA - 20220717_110803.jpg" alt="">
  </div>

</div>





<!--
  <div class="img-gallery">
  <img src="../../assets/img/1 GERIAVIDA.jpg" onclick="openFulImg(this.src)" alt="">
  <img src="../../assets/img/2- GERIAVIDA - 20220717_110803.jpg" onclick="openFulImg(this.src)" alt="">
  <img src="../../assets/img/3- GERIAVIDA.jpg" onclick="openFulImg(this.src)" alt="">
  <img src="../../assets/img/4- GERIAVIDA - 20220717_111526.jpg" onclick="openFulImg(this.src)" alt="">
  <img src="../../assets/img/5-  GERIAVIDA.jpg" onclick="openFulImg(this.src)" alt="">
  <img src="../../assets/img/6 -GERIAVIDA.jpg" onclick="openFulImg(this.src)" alt="">
  <img src="../../assets/img/7- GERIAVIDA.jpg" onclick="openFulImg(this.src)" alt="">
  <img src="../../assets/img/8- Cama Doble.jpg" onclick="openFulImg(this.src)" alt="">
</div>
 -->


