<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="contenedor">
  <div class="banner">

    <div class="capa2">
      <header class="contenido-header">
        <div class="barra">
          <p>Sabado <span>20</span> de agosto del <span>2022</span></p>
          <p>
            Informes y Previa Cita: <span>912345678</span>
          </p>
        </div>

      </header>

      <!--
        <nav>
          <ul>
            <a href=""><img class="logo" src="../assets/logo.svg" alt=""></a>
            <li><a href="" class="active">Geriavida</a></li>
            <li><a href="" >Propósitos y Valores</a></li>
            <li><a href="" >Servicios</a></li>
            <li><a href="" >Enfermedades</a></li>
            <li><a href="" >Galeria</a></li>
            <li><a href="" >Contacto</a></li>
            <li><a href="" >Blog</a></li>
            <li><a href="" >Brochure</a></li>
          </ul>
        </nav>
      -->

      <app-navbar></app-navbar>
       <div class="sec1 capa">
        <section class="capa"><img src="../assets/logocompleto.svg" alt=""></section>

      </div>


      <section class="sec2">
        <router-outlet></router-outlet>
      </section>
      <section class="sec3">
        <app-footer></app-footer>

      </section>


</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


