h2{
  font-family: 'Sorts Mill Goudy', serif;
}
p{
  font: 400 1.6em/2rem 'Sorts Mill Goudy', serif;
  margin-bottom: 0px;

}
.contenedor{
  margin: 3rem 5rem;
}
.banner1{
  min-height: 70vh;
  border-radius: 3rem;
  background-image: url(../assets/Fondo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.capa1{
  content: "";
  min-height: 70vh;
  border-radius: 3rem;
  position: relative;
  top: 0;
  left: 0;
  background: radial-gradient(farthest-side at 50%,  #123b409e, #123B40);
  opacity: 1;
}
.capa img{
  width: 25rem;
  height: 100%;
  padding: 16px 37px;
  display: block;
 margin: 0px auto;
}
.encabezado{
  padding: .7rem;
  color: aliceblue;
}
.encabezado p{
  margin: 0 auto;
  display: table;

}
/*
header
*/

header{
  padding: 10px 100px;
  background-color: #123B40;
  border-radius: 3rem 3rem 0 0;
  box-sizing: border-box;
}
.contenido-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: aliceblue;
}
.barra {
  padding-top: .3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.barra p span{
  font-family: 'Times New Roman', Times, serif;
}
.navegacion {
  display: block;
}
section{
  width: 100%;
  height: 40vh;
}
div .sec1{
  border-radius: 0 0 3rem 3rem ;
  background-image: url(../assets/Fondo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
div section.capa{
  content: "";
  min-height: 50vh;
  border-radius: 0 0 3rem 3rem;
  position: relative;
  top: 0;
  left: 0;
  background: radial-gradient(farthest-side at 50%,  #123b409e, #123B40);
  opacity: 1;
  z-index: 0;
}
section.sec2{
  margin: 3rem 0;
  padding: 40px;
  box-sizing: border-box;
  height: auto;
  border: 5px solid #123B40;
  border-radius: 2rem;
}
section.sec2 h2 p{
  margin: 0;
  padding: 0;
}
/** background: #F2CC85; **/
section.sec3{

  background-size: cover;
}
nav{
  width: 100%;
  height: 50px;
  background: #F2CC85;
  border-top: 1px solid rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  position: sticky;
  top: 0;
  z-index: 2;
}
nav ul{
  display: flex;
  margin: 0 auto;
  padding: 0 100px;
  justify-content: center;
  align-items: center;


}/*float: right;*/
.logo{
  width: 50px;
  height: 50px;

 }
nav ul li{
  list-style: none;
}
nav ul img{
  width: 3rem;
  height: 3rem;
}
nav ul li a{
  display: block;
  color: #a71117;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 50px;
}
nav ul li a:hover,
nav ul li a.active{
  color: #123B40;
}
