<div class="contenedor">
  <h1>Blog</h1>


  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h2>
        Control y manejo del estrés del operador y cuidador
      </h2>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ver</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h2>
        Control y manejo del estrés del operador y cuidador
      </h2>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ver</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h2>
        Control y manejo del estrés del operador y cuidador
      </h2>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ver</button>
    </mat-card-actions>
  </mat-card>

</div>
