
/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  background-image: url(assets/marmoleado.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border: 1rem solid transparent;
  -moz-border-image:url("./assets/marcoxl.svg") 30 30 stretch; /* Old firefox */
  -webkit-border-image:url("./assets/marcoxl.svg") 30 30 stretch; /* Safari */
  -o-border-image:url("./assets/marcoxl.svg") 30 30 stretch; /* Opera */
  border-image:url("./assets/marcoxl.svg") 30 30 fill;
}
h1,h2,h3,h4,h5,p,button,a{
  font-family: 'Sorts Mill Goudy', serif;
}
h1{
  font-size: 6rem;
  color: #a71117;
}
h2{
  font-weight: 400;
  font-size: 2.9em;
}
h3{
  font-size: 2rem;
}
h4{
  font-size: 1.5rem;
}
h5{
  font-size: 1rem;
}
p{
  font-weight: 400;
  font-size: 1.6em;
}
button{}
a{}

/*Scroll*/
body::-webkit-scrollbar{
  width: 7px;
  background:#c7c6c4;
}
body::-webkit-scrollbar-thumb{
  background:#A68053;
  border-radius: .3rem;
}

